
<!DOCTYPE html>
<html lang="eng">

    <head>
        <meta charset="utf-8">
        <title>Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    {% block navbar %}
    
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="{{ url_for('form.index') }}" class="navbar-brand">Tracker</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{{url_for('form.index')}}" class="nav-item nav-link active">Home</a>
                <a href="{{url_for('form.input')}}" class="nav-item nav-link active">Form</a>
            </div>
            <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link">Logout</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="nav-item nav-link">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
     
    {% endblock %}

    {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
       
        </div>
        {# application content needs to be provided in the app_content block #}
        <body>
        {% block app_content %}{% endblock %}

   
        <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

        </body>
    {% endblock %}

</html>